body{
	background: #D3D3D3;
	font-family: Calibri;
}

.container{
	width: 100%;
	height:100%;
	overflow: auto;
}
#logo_container{
	width: 340px;
	height: 80px;
	margin-left:7%;

}
#logo{
	height:100%;
	width: 100%;
}

ul.topnav{
  list-style-type: none;
    margin-top: 2%;
    margin-left:7%;
    margin-right: 7%; 
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(94, 93, 88);

}
ul.topnav li {
      float:left;

}
ul.topnav li a{
	display:block;
	color: white;
	padding: 8px;
	text-decoration: none;
}

ul.topnav li:first-child{
	margin-left: 6%;
}
.s1{
	float: left;
	width: 65%;
	height:70%;
	margin-left: 7%;
}
.post{
	background: white;
	display: block;
	border-radius: 5px;
	float: left;
	margin-bottom: 2%; 
	width:100%; 
	padding-bottom: 3%;
	/*margin-left: 7%;
	margin-right: 27%;
	padding-top: 1%;
	padding-bottom: 1%;*/
	  
}
 h1{
 	color: red; 
 	margin-left: 5%;
 	margin-top: 5%; 
 	font-weight:300;
 	font-size:24px;
 }

 h4{
 	color: lightgrey;
 	margin-left:5%;
 	 font-weight:normal;
 }
 p{
 	margin-left: 5%;
 	margin-right: 7%;
 }

/* .top_sbar{
 	background: white;
	display: block;
	float:right;
	margin-top: 0px; 
 }*/
.s2{
	float: left;
	width: 20%;
	height:70%;
	margin-top: 0%;
	margin-left: 2%;  
}
 .sbar {
 	background: white;
	display: block;
	margin-right: 3%; 
	float: left;
	margin-bottom: 4%;
	border-radius: 5px;

 }
 h2{
 	padding-top: 1%;
 	margin-left: 5%; 
 	font-weight:600;
 	font-size:24px;
 }
.s3{
	clear:both;
}

ul.bottomnav{
  list-style-type: none;
    margin-top: 2%;
    margin-left:7%;
    margin-right: 7%; 
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(94, 93, 88);

}
ul.bottomnav li {
      float:left;

}
ul.bottomnav li a{
	display:block;
	color: white;
	padding: 8px;
	text-decoration: none;
}
span{
	color: rgb(193,92,84);
}

@media screen and (max-width:768px) and (min-width: 400px){
body{
	width: 100%;
}
.s1{
	width:85%;
}
.s2{
	width:88%;
	margin-left: 7%;
	float: none;
}

} 
/* Minimum width is 320px*/
@media screen and (max-width:400px){ 
	ul.topnav li {
		float: none;
		text-align: center;
	}
	ul.topnav li:first-child{
	margin-left: 0%;
}
#logo_container{
	width: 340px;
	}

}

/*@media screen and (min-width: 400px){
body{
	width: 100%;
}
.s2{
	float: none;
}
.post{
	margin: 0 auto;
}

} 

@media screen and (min-width:450px){
	ul.topnav li {
		float: none;
	}
}*/

